@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Hentaigana:wght@200..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6549019608), rgba(0, 0, 0, 0.6549019608)), url("./img/nature.jpg");
  background-size: cover;
}
.container header .nav {
  width: 650px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 88px;
}
.container header .nav hr {
  background-color: white;
  height: 26px;
}
.container header .nav a {
  font-size: 18px;
  color: white;
  margin: 0px 31px;
}

.container header .nav a :hover{
  font-size: 24px;
  color: aliceblue;
  margin: 0px 31px;
  border: 25px;

}

.container section {
  margin-bottom: 200px;
}
.container section .log {
  width: 24px;
  display: flex;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
  margin-top: -150px;
  flex-direction: column;
}
.container section .log a img {
  width: 100%;
}
.container section .log a #fec {
  width: 14px;
}
.container section .botanic {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  margin-top: 160px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1254901961), rgba(255, 255, 255, 0.1254901961));
  box-shadow: -25px -5px 30px rgba(255, 255, 255, 0.1254901961);
}
.container section .botanic .shadow {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  box-shadow: 25px 5px 30px rgba(255, 255, 255, 0.1254901961);
  border-radius: 50%;
}
.container section .botanic .text {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 0px 107px;
  top: 0;
  left: 15px;
  display: flex;
  align-items: center;
  padding-top: 88px;
  flex-direction: column;
  /* This changes all the animations globally */
}
.container section .botanic .text .my-element {
  display: inline-block;
  margin: 0 5px;
  animation: slideOutUp;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}
.container section .botanic .text .animate__animated.animate__slideOutUp {
  --animate-duration: 3s;
}
.container section .botanic .text :root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.container section .botanic .text h1 {
  font-size: 52px;
  color: white;
}
.container section .botanic .text p {
  font-size: 18px;
  color: white;
  margin-top: 20px;
  text-align: center;
}
.container footer {
  width: 100%;
  height: 250px;
}
.container footer .foot {
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
}
.container footer .foot .subs {
  width: 400px;
  height: 190px;
}
.container footer .foot .subs p {
  font-size: 18px;
  margin-bottom: 30px;
}
.container footer .foot .subs input {
  width: 250px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid white;
}
.container footer .foot .subs button {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.container footer .foot .subs button:hover {
  background-color: black;
  transition: 0.5s;
}
.container footer .foot .subs .logo {
  height: 25px;
  display: flex;
  gap: 10px;
}
.container footer .foot .subs .logo img {
  height: 100%;
}
.container footer .end {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgb(158, 155, 155);
  padding: 0px 200px;
}
.container footer .end .term ul {
  display: flex;
  gap: 40px;
  align-items: center;
}/*# sourceMappingURL=stely.css.map */